{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block content %}

<style>
  .btn,.br-0{
      border-radius: .25rem !important;
      font-weight: bolder !important;
  }
</style>    


    <div class="mx-auto mt-5" style="width: 400px;">
      <div class="card border-0" style="width: 25rem;">
        
                    <div class="card-body">
                      <h5 class="card-title text-center text-danger font-weight-bold font-size-25">Password Reset</h5>
                      <p class="card-text text-center mx-auto">Your password has been set. You may go ahead and log in now.</p>
                      

                      <div class="form-group mx-auto text-center">
                        <a href="{% url 'login' %}" class="btn btn-danger text-center br-0">Log-In</a>
                      </div>

                      
                    </div>
      </div>
    </div>
{% endblock %}