  {% extends 'base.html' %}
  {% load static %}
  {% block title %}Password Reset{% endblock %}
  {% block content %}



  <div class="mx-auto mt-5" style="width: 400px;">
    <div class="card border-0" style="width: 25rem;">
      <div class="card-body">
      <h5 class="card-title text-center text-danger font-weight-bold font-size-25">Password Reset</h5>
      <p class="card-text text-center mx-auto">
        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
        </p>



      </div>
    </div>
  </div>


  {% endblock %}