{% extends 'parent/homeparent.html' %}

{% block content1 %}


<table class="table">
        <thead>
          <tr>
        
            <th scope="col">Name</th>
            <th scope="col">Parent</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Father Id</th>
            <th scope="col">Approved</th>
          </tr>
        </thead>
        <tbody>
            {% for i in obj %}
          <tr>
           
            <td>{{i.name}}</td>
            <td>{{i.parent}}</td>
            <td>{{i.Date_of_birth}}</td>
            <td>{{i.Father_id}}</td>
            <td>{{i.approve}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}