{% extends 'parent/homeparent.html' %}

{% block content1 %}


<table class="table">
        <thead>
          <tr>
        
            <th scope="col">Title</th>
            <th scope="col">Subject</th>
            <th scope="col">Files</th>
            <th scope="col">Date</th>
            <th scope="col">Update</th>
            
       
          </tr>
        </thead>
        <tbody>
            {% for i in obj %}
         
          <tr>
           
            <td>{{i.title}}</td>
            <td>{{i.subject}}</td>
            <td><a href="/media/{{i.files}}">{{i.files}}</a>
            </td>
            <td>{{i.Date}}</td>
            <td>{{i.update}}</td>

        </tr>

          {% endfor %}
        </tbody>
      </table>

{% endblock %}

