{% load static %}
{% load staticfiles %}
{% load humanize %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel='dns-prefetch' href='//use.fontawesome.com' />
    <link rel='stylesheet' id='fontawesome-css' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css?ver=5.2.0'
        type='text/css' media='all' />
    <title>UpClinch</title>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
  integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
  crossorigin="anonymous"></script>
<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>

    
  <script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover(
            {
                title: "Suleamn",
                template: '<div class="popover" role="tooltip text-dark"><div class="arrow text-dark" ></div><p class="card-text p-1 bg-dark text-white mb-0" >Property List Review Legend</p><div class="row bg-dark m-0 p-2"><i  class="fas fa-smile fa-2x text-red ml-2 mr-3"></i><i  class="fas fa-frown fa-2x text-red ml-3 mr-3"></i> <i  class="fas fa-meh fa-2x text-red ml-3 mr-2"></i></div><div class="row bg-dark m-0"><span class="text-white ml-3 mr-3">Like</span><span class="text-white ml-3 mr-3">Dislike</span><span class="text-white ml-0 mr-3">NotSure</span></div></div>'
            }
        );
    });
</script>


    <link rel="stylesheet" href='{% static "functionality\css\page_30_style_2.css" %}'>

    <style>
        .list-group-item-action:hover{
            color:#dc3545;  
        }

        .text-red{
            color: red;
        }

        
.btn{
  border-radius: 0px;  
}
        
.close:hover{
color:#dc3545;
}


        .close:active,
.close:visited{
  outline: none !important;
  box-shadow: none !important;
}
    </style>

</head>

<body>
    {% include "mysite/header.html" %}

    <div class="modal fade" id="dellist" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-0 w-400 mx-auto">
                <div class="modal-header border-0 pb-0 pt-1">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center text-wrap text-dark font-size-20">
                    <p>
                        The Review has been shared with the Buyer.
                    </p>
                </div>
                <div class="modal-footer border-0 pb-0">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dellist2" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-0 w-400 mx-auto">
                <div class="modal-header border-0 pb-0 pt-1">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center text-wrap text-dark font-size-20">
                    <p>
                        The Review has been shared with your Agent.
                    </p>
                </div>
                <div class="modal-footer border-0 pb-0">
                </div>
            </div>
        </div>
    </div>

    <div class="mx-auto w-100">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="card-title text-center text-danger display-4 font-weight-bolder"   id="property_title">{{reqobj.name}}</h1>
            </div>
            {% if agentcheck %}
                <div class="row">
                    <div class="col-12 col-md-12 col-lg">
                        <div class="row">
                            <div class="col">
                                    <h5 class="card-title text-right">
                                        Buyer
                                    </h5>
                            </div>
                            <div class="col">
                                <h5 class="card-title text-left">
                                    {{reqobj.linked_with.get_full_name}}: {{reqobj.linked_with.email}}
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                    <h5 class="card-title text-right">
                                        Tour Status
                                    </h5>
                            </div>
                            <div class="col">
                                <h5 class="card-title text-left">
                                    {{reqobj.status}}
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                    <h5 class="card-title text-right">
                                        Schedule
                                    </h5>
                            </div>
                            <div class="col">
                                <h5 class="card-title text-left">
                                    {{reqobj.sel_date}} {{reqobj.sel_time}}
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title  text-danger text-center text-lg-left" style="cursor: pointer;" data-target="#dellist" data-toggle="modal">Request Buyer Tour Review</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-danger text-center text-lg-left" style="cursor: pointer;" onclick="window.location.href = '/clonetour/{{reqobj.id}}'">Clone Tour</h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-12 col-md-12 col-lg">
                        <div class="row">
                            <div class="col">
                                    <h5 class="card-title text-right">
                                        Tour Status
                                    </h5>
                            </div>
                            <div class="col">
                                <h5 class="card-title text-left">
                                    {{reqobj.status}}
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                    <h5 class="card-title text-right">
                                        Schedule
                                    </h5>
                            </div>
                            <div class="col">
                                <h5 class="card-title text-left">
                                    {{reqobj.sel_date}} {{reqobj.sel_time}}
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title  text-danger text-center text-lg-left" style="cursor: pointer;" data-target="#dellist2" data-toggle="modal">Share Tour Review with Agent</h5>>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-center text-lg-left text-danger" style="cursor: pointer;" onclick="window.location.href = '/rerequesttour/{{reqobj.id}}'">Request Re-Tour</h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col">
                    {% for i,j in notes %}
                        <div class="overflow-auto mb-2">
                            <div class="card border-0" >
                                <div class="card-body list-group-item-action" id="lst_{{i.id}}">
                                    <div class="media position-relative">
                                        <div class="container w2" id="imageContainer_{{i.id}}">
                                            <img src="/media/{{i.image1}}" class="mr-3" alt="...">
                                        <button type="button" class="btn btn-dark" {% if agentcheck %} style="border-radius: 4px;margin-top: 15%;" {% else %} 
                                            style="border-radius: 4px;" {% endif %} id="buttonImageA_{{i.id}}" 
                                            onclick="window.location.href='/request-tour/0/{{i.id}}/0'">Tour</button>
                                            
                                            {% if agentcheck == False %}
                                            <br>
                                            <button type="button" class="btn btn-dark btn-2" id="buttonImageB_{{i.id}}"  >Offer</button>
                                            {% endif %}
                                        </div>
                
                
                                        {% if agentcheck %}
                
                
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="media-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <h5 class="mt-0 mb-0">
                                                                    {{i.address}}
                                                                    <p class="card-text font-weight-normal mb-0" id="listHeading_{{i.id}}">
                                                                        {{i.address}}
                                                                    </p>
                                                                    
                                                                </h5>
                                                                Status : <b>Active</b>
                                                            </div><br>
                                                            <div class="col-6">
                                                                <h5 class="card-title text-right">${{i.price|intcomma }} <p
                                                                        class="card-text text-right font-weight-bold"
                                                                        style="font-size: 14px;">{{i.sqft}} sqft | {{i.beds}} beds | {{i.baths}} baths</p>
                                                                </h5>
                
                                                            </div>
                                                        </div>
                                                        <p class="font-weight-bold m-0">
                                                            Notes:
                                                        </p>
                                                        <form id="propertyNotesForm_{{i.id}}" method="POST" action="{% url 'tour-note' i.id reqobj.id %}">{% csrf_token %}
                                                            <textarea class="form-control m-0 overflow-auto bg-transparent border-0 text-wrap text-left pl-0" id="propertyNotes_{{i.id}}" style="height:80px;" readonly style="resize: none;" name="propertynote">{{j}}</textarea>
                                                        </form>
                
                                                    </div>
                                                </div>
                                                
                                                <div class="col-3">
                                                    {% if reqobj.shared_with != none %}
                                                    {% for m,n in ratings %}
                                                    {% if m == i %}
                                                    <div class="row">
                                                        <button type="button" class="btn btn-secondary border-0 bg-transparent ml-3" onclick="funcrate({{i.id}},0,{{reqobj.id}})">
                                                            <i  class="fas fa-smile fa-2x"
                                                                style="color: {% if n == 0 %}red{% else %}white{% endif %};background-color: black; border-radius: 1.25rem;"
                                                                id="{{i.id}}happy"></i></button>
                                                        &nbsp; &nbsp; 
                                                        <button type="button" class="btn btn-secondary border-0 bg-transparent" onclick="funcrate({{i.id}},1,{{reqobj.id}})">
                                                            <i  class="fas fa-frown fa-2x"
                                                                style="color: {% if n == 1 %}red{% else %}white{% endif %};background-color: black; border-radius: 1.25rem;"
                                                                id="{{i.id}}happy1"></i></button>
                                                        &nbsp; &nbsp;
                                                        <button type="button" class="btn btn-secondary border-0 bg-transparent" onclick="funcrate({{i.id}},2,{{reqobj.id}})">
                                                            <i  class="fas fa-meh fa-2x"
                                                                style="color: {% if n == 2 %}red{% else %}white{% endif %};background-color: black; border-radius: 1.25rem;"
                                                                id="{{i.id}}happy2"></i></button>
                                                        <br>
                                                        <p class="text-capitalize"  data-toggle="popover"
                                                        data-placement="bottom">Property Review Status</p>
                                                    </div>
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endif %}
                                                    <br>
                                                      <!-- Modal -->
                                                      
                                                    <div class="row float-right">
                                                        <button type="button" class="btn btn-white border-0 ml-3"
                                                            id="propertyNotesEdit_{{i.id}}"><i class="fas fa-edit fa-2x text-secondary"
                                                                style="border-radius: 1.25rem;"></i></button>
                                                        <button type="submit" class="btn btn-white border-0 ml-3" style="display:none;"
                                                            id="propertyNotesEditSubmit_{{i.id}}"><i class="fas fa-check-circle fa-2x text-secondary"
                                                                style="border-radius: 1.25rem;"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                
                                        {% else %}
                
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="media-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <h5 class="mt-0 mb-0" >
                                                                    {{i.address}}
                                                                    <p class="card-text font-weight-normal mb-0" id="listHeading_{{i.id}}">
                                                                        {{i.address}}
                                                                    </p>
                                                                    
                                                                </h5>
                                                                Status : <b>Active</b>
                                                            </div><br>
                                                            <div class="col-6">
                                                                <h5 class="card-title text-right">${{i.price|intcomma }} <p
                                                                        class="card-text text-right font-weight-bold"
                                                                        style="font-size: 14px;">{{i.sqft}} sqft | {{i.beds}} beds | {{i.baths}} baths</p>
                                                                </h5>
                
                                                            </div>
                                                        </div>
                                                        <p class="font-weight-bold m-0">
                                                            Notes:
                                                        </p>
                                                        <form id="propertyNotesForm_{{i.id}}" method="POST"  action="{% url 'tour-note' i.id reqobj.id %}">{% csrf_token %}
                                                            <textarea class="form-control m-0 overflow-auto bg-transparent border-0 text-wrap text-left pl-0" id="propertyNotes_{{i.id}}" style="height:80px;" readonly style="resize: none;" name="propertynote">{{j}}</textarea>
                                                        </form>
                
                                                    </div>
                                                </div>
                                                
                                                <div class="col-3">
                                                    {% for m,n in ratings %}
                                                    {% if m == i %}
                                                    <div class="row">
                                                        <button type="button" class="btn btn-secondary border-0 bg-transparent ml-3" onclick="funcrate({{i.id}},0,{{reqobj.id}})">
                                                            <i  class="fas fa-smile fa-2x"
                                                                style="color: {% if n == 0 %}red{% else %}white{% endif %};background-color: black; border-radius: 1.25rem;"
                                                                id="{{i.id}}happy"></i></button>
                                                        &nbsp; &nbsp; 
                                                        <button type="button" class="btn btn-secondary border-0 bg-transparent" onclick="funcrate({{i.id}},1,{{reqobj.id}})">
                                                            <i  class="fas fa-frown fa-2x"
                                                                style="color: {% if n == 1 %}red{% else %}white{% endif %};background-color: black; border-radius: 1.25rem;"
                                                                id="{{i.id}}happy1"></i></button>
                                                        &nbsp; &nbsp;
                                                        <button type="button" class="btn btn-secondary border-0 bg-transparent" onclick="funcrate({{i.id}},2,{{reqobj.id}})">
                                                            <i  class="fas fa-meh fa-2x"
                                                                style="color: {% if n == 2 %}red{% else %}white{% endif %};background-color: black; border-radius: 1.25rem;"
                                                                id="{{i.id}}happy2"></i></button>
                                                        <br>
                                                        <p class="text-capitalize" style="text-decoration: underline dotted; "  data-toggle="popover"
                                                        data-placement="bottom">Property Review Status</p>
                                                    </div>
                                                    {% endif %}
                                                    {% endfor %}
                                                    <br>
                                                      <!-- Modal -->
                                                      
                                                    <div class="row float-right">
                                                        <button type="button" class="btn btn-white border-0 ml-3"
                                                            id="propertyNotesEdit_{{i.id}}"><i class="fas fa-edit fa-2x text-secondary"
                                                                style="border-radius: 1.25rem;"></i></button>
                                                        <button type="submit" class="btn btn-white border-0 ml-3" style="display:none;"
                                                            id="propertyNotesEditSubmit_{{i.id}}"><i class="fas fa-check-circle fa-2x text-secondary"
                                                                style="border-radius: 1.25rem;"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                
                                    </div>
                
                                </div>
                
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <h5 class="card-title font-weight-bold" id="lstNotes_0001" >Tour Notes</h5>
                </div>
            </div>
            {% if not reqobj.note %}
            <div class="row">
                <div class="col text-right">
                    <button type="button" class="btn-white border-0 m-0  bg-transparent"  onclick="show1edit()" id="lsteditButtonEdit_0001"><i class="fas fa-edit fa-2x"></i></button>
                </div>
            </div>
            {%  endif %}
            <div class="row">
                <div class="col text-right">
                    <form method="POST" action="{% url 'submit-tour-note' reqobj.id %}">{% csrf_token %}
                        <textarea class="form-control p-0 bg-transparent text-wrap text-right border border-secondary border-0" id="lstNotesText_0001" rows="3" cols="100" readonly  name="listnote" style="height:auto;">{{reqobj.note}} </textarea>
                        <button type="submit" class="btn-white border-0 m-0 float-right bg-transparent mr-2" style="display: none;"
                             id="lsteditButtonSubmit_0001" value="submit">
                            <i class="fas fa-check-circle fa-2x" ></i></button>
                            {% if reqobj.note %}
                <button type="button" class="btn-white border-0 m-0 float-right bg-transparent"  onclick="show1edit()" style=""
                        id="lsteditButtonEdit_0001"><i class="fas fa-edit fa-2x"></i></button>
                {% endif %}                   
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        function show1edit(){
            document.getElementById('lsteditButtonEdit_0001').style = 'display:none;';
            document.getElementById('lsteditButtonSubmit_0001').style = 'display:block;';
            $('#lstNotesText_0001').removeAttr('readonly');
            $('#lstNotesText_0001').removeClass('border-0');
            $('#lstNotesText_0001').removeClass('text-right');
            $('#lstNotesText_0001').addClass('text-left');
        }
    </script>

    <script src='{% static "functionality/js/complete-tour.js" %}'></script>
</body>
</html>