<div class="modal fade" id="notbuyersel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center text-wrap text-dark font-size-20">
              <div id="buyerbody1"></div>
              <div id="buyerlistnamenot" style="color: red;"></div>
                <div id="buyerbody2"></div>
            </div>
            <div class="modal-footer border-0">
            </div>
        </div>
    </div>
</div>
  <div class="modal fade" id="linkunlinkmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center text-wrap text-dark font-size-20">
                Buyer unlinked from Tour.
            </div>
            <div class="modal-footer border-0">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="linksuccess" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header border-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body text-center text-wrap text-dark font-size-20">
              Buyer linked to Tour.
          </div>
          <div class="modal-footer border-0">
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="cannotlink" tabindex="-1" role="dialog">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header border-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center text-wrap text-dark font-size-20">
            Buyer cannot be unlinked as this Tour was created by Buyer or has already been sent to the Buyer.
        </div>
        <div class="modal-footer border-0">
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="nodelete" tabindex="-1" role="dialog">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
      <div class="modal-header border-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body text-center text-wrap text-dark font-size-20">
          Tour cannot be deleted as it was created by a Buyer or has already been sent to the Buyer.
      </div>
      <div class="modal-footer border-0">
      </div>
  </div>
</div>
</div>
<div class="modal fade" id="exampleModalCenterBuyerSuccessfullyUnlinked" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
  <div class="modal-header border-0">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center text-wrap font-size-20">
    Buyer unlinked from the Tour.
  </div>
  <div class="modal-footer border-0">
      
    </div>
</div>
</div>
</div>
<div class="modal fade" id="exampleModalCenterBuyerUnsuccessfulllyUnlinked" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
  <div class="modal-header border-0">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center text-wrap font-size-20">
    Buyer cannot not be unlinked as this tour was created by the Buyer or as already been sent to the Buyer.
  </div>
  <div class="modal-footer border-0">
      
    </div>
</div>
</div>
</div>