        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #f1f1f1;
        }

        ::-webkit-scrollbar {
            width: 6px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #f1f1f1;
        }

        ::-webkit-scrollbar-button {
            background: transparent;
            display: none;
        }

        .btn:focus,
        .btn:active {
            outline: none !important;
            box-shadow: none !important;
        }

        .form-control {
            padding: 0px;
            margin: 0px;
        }

        .form-control:focus,
        .form-control:active {
            outline: none !important;
            box-shadow: none !important;

        }

        .list-group-item:hover {
            color: red;
        }

        .list-group-item {
            padding: 0px;
            margin: 0px;
            padding-left: 2px;
        }

        .modal-header,
        .modal-footer {
            border: 0px;
        }

        .card-title
        {
            color: red;
        }

        .card-body {
            height: 100px;
        }

        #outer {
            width: 900px;
        }

        .card {
            width: 60rem;
            height: 100px;
        }

        #dynamic_field {
            height: 200px;
        }

        .btn-white {
            float: right;
        }

        .btn-light {
            float: right;
            padding-right: 0px;
        }

        .btn-dark {
            float: right;
            padding-right: 30px;
        }

        /* unvisited link */
.alert-link:link {
  color: #dc3545;
}

/* visited link */
.alert-link:visited {
  color: #dc3545;
}

/* mouse over link */
.alert-link:hover {
  color: #dc3545;
}

/* selected link */
.alert-link:active {
  color: #dc3545;
}
    
    .list-group > li:hover{
        /* color:white; */
        background-color: white;
        color:#dc3545;

    }

    .list-group > li{
        /* color:white; */
        background-color: rgb(245, 243, 243);

    }
    
    .list-group-item > li  > input{
        background-color: white;
        color:black;
    }

    li  > input{
        background-color: white;
    }
    
    .form-control[readonly] {
        background-color: rgb(245, 243, 243);
    }

    .form-control:hover{
        background-color: white;
    }

    .form-control {
        background-color: white;
    }

    .form-control[readonly]:hover{
        background-color: white;
    }

    .text-red{
        color:#dc3545;

    }

    div[class="card-body"] p[class="text text-right"]{
        color: #dc3545;
    }

    /* width */
  ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

::-webkit-scrollbar-button {
    background: transparent;
    display: none;
}
input::-webkit-calendar-picker-indicator{
    display: none;
}

div[pseudo="-webkit-calendar-picker-indicator"]
{
    display: none;
}

.text-underline{
    text-decoration:underline;
}
.w-400{
    width:400px;
}
.font-size-24{
    font-size: 24px;
}
.close:hover{
    color:#dc3545;
}
#add{
    cursor: pointer;
}