
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        ::-webkit-scrollbar {
            width: 6px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #000000;
        }

        ::-webkit-scrollbar-button {
            background: transparent;
            display: none;
        }

        #property_title,
        #proper_actions {
            color: #dc3545;
        }

        .btn:focus,
        .btn:active,
        textarea:focus,
        textarea:active {
            outline: none !important;
            box-shadow: none !important;
        }

        .btn {
            border: none;
            padding: 0px;
            margin: 0px;
        }

        /* Button on an image */
        .container {
            position: relative;
            /* width: 100%; */
            /* max-width: 400px; */
        }

        /* .container img { */
        /* width: 100%; */
        /* height: 100%; */
        /* } */

        .container>.btn {
            position: absolute;
            top: 30%;
            left: 47%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: #dc3545;
            color: white;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            /* border-radius: 0px; */
            text-align: center;
            display: none;
            /* width:200px; */
        }

        .container>.btn-2 {
            /* position: absolute; */
            top: 60%;
            /* left: 50%; */
            /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display:none; */
        }

        .container>.btn:hover {
            background-color: #dc3545;
        }

        .list-group-item{
            background-color: #dc3545;
            color: white;
        }

        .dropdown-toggle:after { content: none }

        #proper_lists > .list-group-item{
            background-color: white;
            color: #dc3545;
            border:none;
            /* font-size: 15px; */
            font-weight: bold;
        }

        .modal-body > a{
            color:#dc3545;
        }

        .list-group-item-action{
            background-color: rgb(245, 243, 243);
        }
        
        .list-group-item-action:hover{
            background-color: white;
        }

.container>.btn,
.container>.btn:active,
.container>.btn:visited, 

.container>.btn-2,
.container>.btn-2:active,
.container>.btn-2:visited
{
  background-color: #dc3545 !important;
  width:150px;
  font-weight: bold;
}
        #page_30_outer_card{
          width:80%;
      }

      div[class="container float-right text-danger text-right pr-0"] ul[class="list-group float-right text-danger"] li[class="list-group-item list-group-item-action text-danger pt-0 pb-0 pr-0"]:hover{
          cursor: pointer;
      }

      div[class="container float-right text-danger text-right pr-0"] ul[class="list-group float-right text-danger"] li[class="list-group-item list-group-item-action text-danger pb-0 pr-0"]:hover{
        cursor: pointer;
    }

      #proper_actions:hover{
          cursor: pointer;
      }

        .btn:focus,
        .btn:active,
        textarea:focus,
        textarea:active,
        .form-control:focus,
        .form-control:active  {
            outline: none !important;
            box-shadow: none !important;
        }

        .close:hover{
            color:#dc3545;
        }
        .w-400{
            width: 400px !important;
        }

        div[class="card-body list-group-item-action"]:hover{
            color:#dc3545;
        }
        textarea{
            resize: none;
        }

        p[data-toggle="popover"]{
            text-decoration: underline dotted; 
            cursor: pointer;
        }
    
        div[class="media position-relative"] div[class="container w2"]{
            width:318px;
        }

        #lstNotes_0001, #lsteditButtonSubmit_0001, #lsteditButtonEdit_0001, #lsteditButtonEditText_0001{
            color: #dc3545;
        }

        #lsteditButtonSubmit_0001 i{
            border-radius: 1.25rem;
        }
    #lsteditButtonEdit_0001 i{
        border-radius: 1.25rem;
    }

    #lsteditButtonSubmit_0001{
        display:none;
    }

    #lsteditButtonEditText_0001{
        display:none;
    }

    #listnameinmodal, #listnameinmodal1{
        text-decoration:underline;
    }
        #listnameinmodaldel{
            text-decoration:underline;
        }

#listnameinmodal,
#listnameinmodal1, #listnameinmodal{
    color:#dc3545;
}

#listnameinmodaldel, #listnameinmodaldel1{
    color: #dc3545;
    text-decoration: underline;
}

div[class="overflow-auto float-right mb-2"]{
    height:250px;
    width:1100px;
}

.text-underline{
    text-decoration: underline;
}

div[class="media position-relative"] div[class="container w2"] img{
    width:230px;
    height:200px;
}

.font-size-26{
    font-size: 24px;
}

#linkunlink:hover{
    color: #dc3545;
    cursor: pointer;
}

div[pseudo="-webkit-calendar-picker-indicator"]{
    display: none !important;
}

/* 
border-radius: 0.25rem;

    border: 1px solid transparent; */

    div[class="dropdown-menu overflow-auto p-0 show"]  li[class="list-group-item list-group-item-action"]{
        background-color: #dc3545 !important;
        color: white !important;
    }

    div[class="dropdown-menu overflow-auto p-0 show"]  li[class="list-group-item list-group-item-action"]:hover{
        background-color: white !important;
        color: black !important;
    }

    .bs-popover-auto[x-placement^=bottom]>.arrow::after, .bs-popover-bottom>.arrow::after {
        top: 1px;
        border-width: 0 .5rem .5rem .5rem;
        border-bottom-color: black;
    }
/* 
div[pseudo="-webkit-calendar-picker-indicator"],
div[pseudo="-webkit-calendar-picker-indicator"]:active,
div[pseudo="-webkit-calendar-picker-indicator"]:visited,
div[pseudo="-webkit-calendar-picker-indicator"]:hover
{
    display: none;
} */

input::-webkit-calendar-picker-indicator {
    display: none;
    width: 0.66em;
    height: 0.66em;
    opacity: 0;
    cursor: default;
    pointer-events: none;
    -webkit-user-modify: read-only !important;
    padding: 0.17em 0.34em;
}

.list-group-item-action:hover{
    color:#dc3545;  
}

.text-red{
    color: red;
}


.btn{
border-radius: 0px;  
}

.close:hover{
color:#dc3545;
}


.close:active,
.close:visited{
outline: none !important;
box-shadow: none !important;
}