a{
    background-color: transparent;
    color:white;
    /* max-width: 15%; */
}

  /* width */
  ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        ::-webkit-scrollbar {
            width: 6px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #000000;
        }

        ::-webkit-scrollbar-button {
            background: transparent;
            display: none;
        }

      /* unvisited link */
      .alert-link:link {
  color: red;
}

/* visited link */
.alert-link:visited {
  color: red;
}

/* mouse over link */
.alert-link:hover {
  color: red;
}

/* selected link */
.alert-link:active {
  color: red;
}

/* Pop up property model styling */
.modal-content{
    width:900px;
    height: 680px;
}

.modal-dialog-centered{
    margin-left:200px;
}
